/* Toolbar Styling */

.toolbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(6, 11, 23, 0.8);
  backdrop-filter: blur(20px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 5px;
  border-radius: 15px;
}

.toolbar a {
  color: #9ca0a8;
  text-decoration: none;
  padding: 8px 10px;
  transition: background-color 0.5s, color 0.5s;
  border-radius: 10px;
}

.toolbar a.active {
  background-color: #1f2937;
  color: white; 
}

.toolbar a:not(:last-child) {
  margin-right: 5px;
}

@media (max-width: 640px) {
  .toolbar {
      top: 0;
      left: 0;
      transform: translateX(0);
      width: 100%;
      padding: 5px 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 10px;
  }

  .toolbar a {
      border-radius: 0;
      width: auto;
      flex: 1;
      text-align: center;
      border-radius: 10px;
  }
}

@media (min-width: 1800px) {
  .toolbar a {
      color: #9ca0a8;
      text-decoration: none;
      padding: 15px 20px; 
      transition: background-color 0.5s, color 0.5s;
      border-radius: 10px;
      font-size: 24px;
  }
}